<div class="row-fluid">
    <div class="span6 paymentControls1">
        <div class="page-header">
            <h3>Credit Card Billing Information</h3>
        </div>

    </div>
    <div class="span6 paymentControls2">
        <div class="page-header">
            <h3>Credit Card Information</h3>
        </div>
        <div class="cn-control"></div>
        <div class="form-horizontal">
            <div class="ccredit controls">
              <div id="mc" class="mc"></div>
              <div id="vc" class="vc"></div>
              <div id="dc" class="dc"></div>
              <div id="ac" class="ac"></div>
            </div>
        </div>
        <div class="other-credit-controls"></div>
    </div>
</div>

<hr class="bs-docs-separator" />
<div class="row-fluid" style="margin-bottom: 20px;">
    <div class="span12">
        <button class="btn btn-primary pay-now" type="button">Pay Now</button>
    </div>
</div>
