<div class="row-fluid">
    <div class="span6">
        <div class="hero-unit">
            <h1>Check Payment</h1>
            <p>Please view your invoice, print it and mail it to the address on the invoice</p>
            <p>
                <a class="btn btn-primary btn-large invoice">
                    View Invoice
                </a>
            </p>
        </div>
    </div>
    <div class="span6">
        <div class="hero-unit">
            <h1>Credit Payment</h1>
            <p>If you would like pay by credit immediately</p>
            <p>
                <a class="btn btn-primary btn-large credit">
                    Pay Now Via Credit Card!
                </a>
            </p>
        </div>
    </div>
</div>
