<div class="row-fluid">
    <div class="span12">
        <div class="hero-unit">
            <h1>Upload your file</h1>
            <p>Upload your data file in csv format</p>
            <p>
                <span class="btn btn-success fileinput-button">
                    <i class="icon-plus icon-white"></i>
                    <span>Select files...</span>
                    <!-- The file input field used as target for the file upload widget -->
                    <input id="fileupload" type="file" name="files[]">
                </span>
            </p>
        </div>
        <!-- The global progress bar -->
        <div id="progress" class="progress progress-success progress-striped">
            <div class="bar"></div>
        </div>
        <!-- The container for the uploaded files -->
        <div id="files"></div>
    </div>
</div>
